.showArticle{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 35px;
    background-color: #888888;
    box-shadow: 0px 1px 6px #a5a5a5;
    border-radius: 21px;
    margin-left: 40px;
    color: white;
}